{% extends 'base.html' %}
{% block title %}Mi Perfil{% endblock %}
{% block content %}
<h1>Perfil de {{ usuario.nombre|capitalize }}</h1>
<h3>Total de citas publicadas: {{ total_citas }}</h3>
<h2>Mis Citas</h2>
<!-- Listado de citas del usuario -->
{% for cita in citas %}
<div class="card mb-3">
<div class="card-body">
<p class="card-text">"{{ cita.cita }}"</p>
<p class="text-muted">Publicada el: {{ cita.creado_en | format_date }}</p>
<!-- Botones para editar y borrar la cita -->
<a href="/citas/editar/{{ cita.id }}" class="btn btn-outline-warning btn-sm">Editar</a>
<a href="/citas/eliminar/{{ cita.id }}" class="btn btn-outline-danger btn-sm">Borrar</a>
</div>
</div>
{% endfor %}
{% endblock %}

